/**base**/
/**Fonts**/
/*Coloring*/
/*sections*/
* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, a, span, li, p {
  font-family: "Raleway", sans-serif; }

h2.heading {
  font-size: 20px;
  position: relative;
  font-weight: 600;
  margin-bottom: 25px; }

h2.heading::after {
  border-bottom: 1px solid #2980b9;
  position: absolute;
  width: 90px;
  height: 30px;
  top: 30px;
  left: 0;
  z-index: 99999; }

#projectFilter .mix {
  display: none; }

.toTop {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  position: fixed;
  bottom: 120px;
  right: 10px;
  background: #2980b9;
  color: #fff;
  display: none; }

/*color box*/
.color-box {
  position: fixed;
  left: 0;
  top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .color-box a {
    border: 1px solid #9c9c9c;
    background: #2980b9;
    color: #fff;
    border-radius: 0 5px 5px 0;
    height: 35px;
    width: 70px;
    line-height: 35px;
    text-align: center;
    font-size: 20px; }
  .color-box .color-container {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px; }
    .color-box .color-container ul {
      list-style: none;
      padding-left: 0; }
      .color-box .color-container ul li {
        width: 30px;
        height: 30px;
        cursor: pointer; }
      .color-box .color-container ul li.green {
        background: #1abc9c; }
      .color-box .color-container ul li.red {
        background: #c0392b;
        margin-top: 4px;
        margin-bottom: 4px; }
      .color-box .color-container ul li.blue {
        background: #2980b9; }

/**layout**/
.main {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/main.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/main.jpg);
  width: 100%;
  /*header*/
  /*slider*/ }
  .main .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 25px; }
    .main .header .logo {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 20%;
      -ms-flex: 0 1 20%;
      flex: 0 1 20%;
      width: 20%; }
      .main .header .logo img {
        max-width: 100%;
        height: auto; }
    .main .header .menu {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 65%;
      -ms-flex: 0 1 65%;
      flex: 0 1 65%; }
      .main .header .menu ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .main .header .menu ul li {
          list-style: none;
          line-height: 30px;
          color: #fff;
          padding: 4px 10px; }
          .main .header .menu ul li a.active {
            color: #2980b9;
            border-bottom: 1px solid #2980b9; }
          .main .header .menu ul li a {
            color: #fff;
            text-transform: uppercase;
            padding-bottom: 4px;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            cursor: pointer; }
            .main .header .menu ul li a:hover {
              border-bottom: 1px solid #2980b9; }
  .main .slider {
    margin-bottom: 0; }
    .main .slider .bx-wrapper {
      background: transparent;
      border: none;
      box-shadow: none;
      margin-bottom: 0; }
    .main .slider ul {
      z-index: 9999;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .main .slider ul li {
        color: #fff; }
        .main .slider ul li h2,
        .main .slider ul li p,
        .main .slider ul li a {
          text-align: center;
          display: block; }
        .main .slider ul li h2 {
          font-size: 35px;
          text-transform: capitalize; }
          .main .slider ul li h2 span {
            color: #2980b9;
            font-weight: 700; }
        .main .slider ul li p {
          color: #e8e8e8;
          font-size: 22px;
          width: 60%;
          text-align: center;
          margin: 25px auto; }
        .main .slider ul li a {
          color: #fff;
          font-size: 18px;
          text-decoration: none;
          padding: 4px;
          margin: 15px auto; }

/*Services*/
.services {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
  background: #f2f2f2; }
  .services .service {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .services .service .service-posts {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 31%;
      -ms-flex: 0 1 31%;
      flex: 0 1 31%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .services .service .service-posts i {
        color: #2980b9;
        font-size: 45px;
        margin-right: 40px;
        margin-top: 14px; }
      .services .service .service-posts .description {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
        .services .service .service-posts .description h3 {
          font-size: 18px;
          color: #2d2d2d; }
        .services .service .service-posts .description p {
          font-size: 14px;
          color: #9c9c9c; }

/*team*/
.our-team {
  padding-top: 40px;
  padding-bottom: 40px; }
  .our-team .team {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .our-team .team article.team-description {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 35%;
      -ms-flex: 0 1 35%;
      flex: 0 1 35%; }
    .our-team .team .team-images {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 63%;
      -ms-flex: 0 1 63%;
      flex: 0 1 63%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .our-team .team .team-images img {
        width: 22%;
        border-radius: 5px;
        height: 136px; }

/*Testmonials*/
.Testmonials {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/newsletter.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/newsletter.jpg) no-repeat;
  background-attachment: fixed;
  height: 290px; }
  .Testmonials h2 {
    color: #fff; }
  .Testmonials p {
    color: #fff;
    font-size: 14px; }
  .Testmonials span {
    color: #2980b9;
    font-weight: 600;
    font-size: 17px; }

/**projects**/
.projects {
  padding-top: 40px;
  padding-bottom: 40px; }
  .projects .filterControls {
    margin-bottom: 25px; }
  .projects .filterContent .mix {
    margin-bottom: 10px; }
    .projects .filterContent .mix img {
      border-radius: 8px;
      box-shadow: 0 0 15px #ccc;
      -webkit-box-shadow: 0 0 15px #ccc;
      -moz-box-shadow: 0 0 15px #ccc;
      -o-box-shadow: 0 0 15px #ccc;
      -ms-box-shadow: 0 0 15px #ccc;
      border: 3px solid #fff; }

/**footer**/
footer {
  background: #232323;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff; }
  footer #footerStyle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer #footerStyle div {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 30%;
      -ms-flex: 0 1 30%;
      flex: 0 1 30%; }
      footer #footerStyle div h2 {
        font-size: 18px; }
      footer #footerStyle div p {
        font-size: 14px;
        color: #9c9c9c; }
      footer #footerStyle div .social-links i {
        padding: 8px;
        border: 1px solid #fff; }
    footer #footerStyle .tags a {
      padding: 5px 8px;
      border: 1px solid #fff;
      height: 32px;
      float: left;
      margin-bottom: 8px;
      margin-right: 4px;
      color: #fff; }
    footer #footerStyle .ImportantLinks ul {
      list-style: none;
      padding: 0px 0px; }
      footer #footerStyle .ImportantLinks ul li {
        padding-top: 4px;
        padding-bottom: 4px;
        color: #fff;
        border-bottom: 1px solid #9c9c9c; }
        footer #footerStyle .ImportantLinks ul li:last-child {
          border: none; }
        footer #footerStyle .ImportantLinks ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          text-align: left; }
  footer a {
    text-align: center;
    color: #9c9c9c;
    font-size: 14px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: block; }

/**modules**/
button {
  background: transparent;
  border: 1px solid #c4c4c4;
  padding: 10px 12px;
  border-radius: 3px;
  color: #9c9c9c;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-right: 8px; }

button.active {
  background: #2980b9;
  padding: 10px 12px;
  border: 1px solid #2980b9;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff; }
