/**Fonts**/
$primaryFont : 'Raleway', sans-serif;
$SectionMainHeadingfontSize : 20px;
$PostsParagraphSize : 14px;
$PostsHeaderSize : 18px;

/*Coloring*/

$mainColor : #1abc9c;
$blackColor : #2d2d2d;
$GrayColor : #9c9c9c;
$sliderparagrapColor : #e8e8e8;
$redColor:#c0392b;
$blueColor:#2980b9;

/*sections*/
$sectionsPadding :40px;